:root {
    --pixelSize: 6.25%;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header {
    font-weight: bold;
    font-family: 'Lemonada', cursive;
}

#options {
    padding-bottom: 2vw;
    padding-top: 1vw;
}

#screen {
    display: grid;
    width: 35vw;
    height: 35vw;
    grid-template-columns: repeat(auto-fill, minmax(var(--pixelSize), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(var(--pixelSize), 1fr));
}
.pixel {;
    background-color: white;
    border-color: #676a6e;
    border-style: solid;
    border-width: 1px;
}
