html, body {
    width: 100%;
    height: 100%;
}



#screen {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(auto-fill, minmax(6.25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(6.25%, 1fr));
}
.pixel {;
    background-color: gray;
}